html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(1, 11, 20);
}

table,thead,td {
  margin: 50;
  border-width: 2px;
  border-color: rgb(80, 170, 253);
  border-collapse: collapse;
  border-style: solid
}

td{
  text-align: center;
  color: rgb(80, 170, 253);
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: rgb(80, 170, 253);
}

body {
  width: 700px;
  margin: 0 auto;
  background-color: rgb(34, 34, 34);
  padding: 0 20px 20px 20px;
  border: 1px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: rgb(80, 170, 253);
  text-shadow: 3px 3px 1px black;
  font-size: 30px;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

ul{
  margin: 10px;
  padding: 0px;
}

li{
  margin: 10px;
  padding: 5px;
}

input{
  background: rgb(54, 54, 54);
  border:none;
  color: rgb(80, 170, 253);
}

button{
    text-align: center;
    background: none;
    border-radius:0px;
    border:none;
    display:inline-block;
    cursor:grabbing;
    color:rgb(80, 170, 253);
    font-family:Arial;
    font-size:19px;
    padding:4px 6px;
    text-decoration:none;
}

.get_stats_button, .dropbtn {
    background:linear-gradient(to bottom, #434447 5%, #030405 100%);
    background-color:#434447;
    border-radius:0px;
    border:none;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:19px;
    padding:4px 6px;
    text-decoration:none;
}

.get_stats_button:hover, .dropbtn:hover {
  background:linear-gradient(to bottom, #030405 5%, #434447 100%);
  background-color:#030405;
}
.get_stats_button:active, .dropbtn:active {
  position:relative;
  top:1px;
}

.dropbtn, .nameCareer{
  display: none;
}

#optionsDropdownBtn{
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  background-color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-size: medium;
  display: block;
}

.dropdown-content a:hover {background-color: rgb(53, 50, 50)}

.show {display:block;}

.caret {
  width: 0;
  height: 0;
  vertical-align: middle;
  display: inline-block;
  border: 4px solid transparent;
  border-top-color: white ;
  position: relative;
  top: 2px;
  left: 5px;
}